/* General page styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF; /* White background */
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header container */
header {
  display: flex;
  justify-content: space-between; /* logo left, navbar right */
  align-items: center;
  background-color: #FFFFFF; /* Dental Blue */
  padding: 10px 30px;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  gap: 4px; /* space between logo image and text */
}

.logo h1 {
  color: #2A9DCC; /* Dental Blue */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

/* Navbar styling */
.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #374151; /* Dark text color */
  text-decoration: none;
  font-weight: 400;
}

.navbar a:hover {
  color: #2A9dcc; /* Light Blue hover effect */
}

.navbar img {
  vertical-align: middle;
  border-radius: 50%;
}


/* About section layout */
.about {
  display: flex;
  padding: 40px;
  margin-left: 174px;
  margin-right: 174px;
  }

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8F6FA; /* Light Blue background */
}

.right-side {
  flex: 2;
  padding-left: 30px;
}

.about h1 {
  font-weight: 600; /* Semi-bold heading */
  color: #2A9DCC;   /* Dental Blue headings */
}

.about p {
  line-height: 1.7;
  margin-bottom: 15px;
  font-weight: 400; /* Regular weight for body text */
  text-align: justify; /* Justified text for better readability */
}

/* Profile icon in navbar */
.navbar img {
  vertical-align: middle;
  border-radius: 50%;
}
